@page "/"
@using CMSGTechnical.Code
@using CMSGTechnical.Domain.Models
@using CMSGTechnical.Mediator.Menu
@using MediatR
@using CMSGTechnical.Components.Shared
@using CMSGTechnical.Mediator.Dtos

<PageTitle>Home</PageTitle>



@foreach (var categoryGroup in MenuItems.GroupBy(i => i.Category))
{
    <div class="mt-4">
        <h4 class="fw-bold">@categoryGroup.Key</h4>

        @foreach (var item in categoryGroup.OrderBy(i => i.Price))
        {
            <MenuItemDisplay Item="item"
                             OnAdd="() => AddItem(item.Id)" />
        }
    </div>
}



@code
{
    [Inject] private IMediator Mediator { get; set; } = default!;


    private MenuItemDto[] MenuItems { get; set; } = Array.Empty<MenuItemDto>();
    [CascadingParameter]
    private BasketService Basket { get; set; }


    protected override async Task OnInitializedAsync()
    {
        MenuItems = (await Mediator.Send(new GetMenuItems())).ToArray();
    }

    private void AddItem(int id)
    {
        var menuItem = MenuItems.First(i=>i.Id==id);
        Basket.Add(menuItem);
    }
    
}
